* {
  margin: 0;
  padding: 0;
}

header {
  padding: 15px;
  background-color: #203d53;
  color: aliceblue;
  border-color: #203d53;
  border-style: solid;
  position: sticky;
  top: 0px;
  z-index: 10;
}

h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: bolder;
  cursor: auto;
}
ul {
  display: inline-block;
  margin-left: 55%;
  cursor: pointer;
}

li {
  display: inline-block;
  margin-left: 50px;
  font-size: 25px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.bg {
  width: 100%;
}

body {
  background-color: #203d53;
}

.imgdiv {
  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: #203d53;
}

.text {
  position: absolute;
  bottom: 55%;
  left: 8%;
  text-align: left;
  font-size: 30px;
  word-spacing: 05px;
  letter-spacing: 5px;
}

h1 {
  font-size: 70px;
  font-weight: 900;
}
.abt_me {
  margin-top: 5%;
  padding-top: 50px;
  background-color: #203d53;
  color: aliceblue;
}

.abt_metext {
  width: 55%;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  font-size: 25px;
  text-align: justify;
  word-spacing: 05px;
  letter-spacing: 02px;
  line-height: 38px;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: 1000;
  color: aliceblue;
}

#my_title {
  text-align: center;
  font-size: 25px;
}
.myphoto {
  margin: 50px;
  border: 5px solid white;
  border-radius: 30px;
}

.skillsheading{
  text-align: center;
  padding: 5%;
  font-size: 40px;
  font-weight: 1000;
  color: aliceblue;
}

.skills_align {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;

}

.skills_align > * {
  margin-bottom: 10%; /* Set the desired gap between rows */
}



.align-items{
  border-radius: 20px;


}


.contact {
  background-color: aliceblue;
  color: black;
  margin-top: 10%;
  padding-top: 100px;
  height: 700px;
  width: auto;
}

#contactcolor {
  color: black;
}

#letsconnect {
  color: black;
  text-align: center;
  font-size: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
